<div class="tabs">
    <form method="POST" id="compiler_form" action="/compile">
        <input type="hidden" id="compiler_form_file_id" name="file_id"></input>

        <input class="tabs-radio" id="one" name="group" type="radio" checked>
        <input class="tabs-radio" id="two" name="group" type="radio">
        <input class="tabs-radio" id="three" name="group" type="radio">
        <input class="tabs-radio" id="four" name="group" type="radio">

        <div class="tabs-labels">
            <label class="tabs-label" id="one-tab" for="one">STANDARD</label>
            <label class="tabs-label" id="two-tab" for="two">OPTIMIZATIONS</label>
            <label class="tabs-label" id="three-tab" for="three">PROCESSOR</label>
            <label class="tabs-label" id="four-tab" for="four">DEPENDENT</label>
        </div>

        <div class="tabs-options">
            <div class="tabs-option" id="one-option">
                <select id="command_line_standard" name="command_line_standard">
                    <% for (option of command_line_options.standard) { %>
                        <option value="<%= option %>" <% if (option === standard) { %>selected<% } %>><%= option %></option>
                    <% } %>
                </select>
            </div>
            <div class="tabs-option" id="two-option">
                <% command_line_options.optimization.forEach((option, index) => { %>
                    <input
                        type="checkbox"
                        name="command_line_optimization"
                        value=<%= option %>
                        id="optimization_<%= index + 1 %>"
                        <% if (optimizations?.includes(option)) { %>checked<% } %>
                    >
                    <label for="optimization_<%= index + 1 %>"><%= option %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <% }); %>
            </div>
            <div class="tabs-option" id="three-option">
                <select id="command_line_processor" name="command_line_processor">
                    <% for (option of command_line_options.processor) { %>
                        <option value="<%= option %>" <% if (option === processor) { %>selected<% } %>><%= option %></option>
                    <% } %>
                </select>
            </div>
            <div class="tabs-option" id="four-option">
                <% dependent_options && dependent_options.forEach((option, index) => { %>
                    <input
                        type="checkbox"
                        name="command_line_dependent"
                        value=<%= option %>
                        id="dependent_<%= index + 1 %>"
                        <% if (dependent?.includes(option)) { %>checked<% } %>
                    >
                    <label for="dependent_<%= index + 1 %>"><%= option %></label><br />
                <% }); %>
            </div>
        </div>
    </form>
</div>